<div class="container mt-4">
    <div class="card border-primary bt-5">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3 class="card- title">Major <small>list</small></h3>
                </div>
                <div class="col-auto">
                    <button class="btn btn-success" (click)="showModal(0)"><i class="fas fa-plus"></i> Add</button>
                </div>
            </div>
            <!-- <div class="text-right"> -->
                <!-- <a [routerLink]="['/major', 0]" class="btn btn-success"><i class="fas fa-plus"></i> Add</a> -->
            <!-- </div> -->
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <!-- <th>Id</th> -->
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let major of majors">
                        <!-- using panigation -->
                        <!-- | paginate: { itemsPerPage: itemPerPage, currentPage: p } --> 
                        <!-- <td>{{i+1}}</td> -->
                        <td></td>
                        <td>{{major.name}}</td>
                        <td>
                            <!-- <a [routerLink]="['/major', major.id]"><i class="fas fa-edit text-success"></i></a> -->
                            <span (click)= "showModal(major.id)" class="pointer"><i class="fas fa-edit text-success"></i></span>
                            <a href="#" (click)="doDelete($event, major.id)" class="ml-1"><i
                                class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
    </div>
</div>

<!-- Modal -->
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">{{message}} Major</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <app-input  [labelsize]= "4" [type]="'text'" [label]= "'Major ID'" [maxlength]="10" 
                    [placeholder]="'ID value'" 
                    [(ngModel)]="aMajor.name" 
                    [formControl]="form.controls['majorName']"
                    [requiredError]= "true"
                    [requiredErrorMessage]= "'Pls enter major name.'"
                    [minlengthError]="form.controls['majorName'].errors?.minlength"
                    [minlengthErrorMessage]= "'At least 3 characters'"
                    ngDefaultControl
                    ></app-input>
                    <!-- <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" 
                        [ngClass]="{'is-invalid': form.controls['majorName'].invalid && form.controls['majorName'].touched}"
                        [(ngModel)]="aMajor.name"  name="majorName"  [formControl]="form.controls['majorName']">
                        <div *ngIf="form.controls['majorName'].errors?.minlength" class="invalid-feedback">
                             name too short
                          </div>
                          <div *ngIf="form.controls['majorName'].errors?.required" class="invalid-feedback">
                            please input name 
                          </div>
                      </div>

                    </div> -->
                  </form>
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary" [disabled]="form.invalid" (click)= "save()">Save</button>
               <button class="btn btn-secondary"  (click)="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>