<div class="container mt-4">
  <div class="card border-primary bt-5">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3>Instructor <small>list</small></h3>
        </div>
        <div class="col-auto">
          <button (click)="showModal(0)" class="btn btn-success"><i class="fas fa-plus"></i> Add</button>
        </div>
      </div>
      <!-- <a [routerLink]="['/instructor', 0]" class="btn btn-success"><i class="fas fa-plus"></i> Add</a> -->
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <!-- <th>#</th> -->
            <th>#</th>
            <th>INSTR Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Gender</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instructor of instructors">
            <!-- | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } -->
            <!-- <td>{{itemsPerPage *(currentPage-1)+i+1}}</td> -->
            <td></td>
            <td>{{instructor.code}}</td>
            <td>{{instructor.firstName}}</td>
            <td>{{instructor.lastName}}</td>
            <td>{{instructor.phone}}</td>
            <td>{{instructor.email}}</td>
            <td>
              <i *ngIf="instructor.gender" class="fas fa-male text-primary"></i>
              <i *ngIf="!instructor.gender" class="fas fa-female text-warning"></i>
            </td>
            <td>
              <!-- <a [routerLink]="['/instructor', instructor.id]"><i class="fas fa-edit text-success"></i></a> -->
              <span (click)="showModal(instructor.id)" class="pointer"><i class="fas fa-edit text-success"></i></span>
              <a href="#" (click)="doDelete($event, instructor.id)" class="ml-1"><i
                  class="fas fa-trash-alt text-danger"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <pagination-controls (pageChange)=" currentPage = $event"></pagination-controls> -->
  </div>
</div>
<!-- Modal -->
<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">{{action}} Instructor</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">

          <!-- Instructor Code -->
          <app-input [label]="'Instructor'" [labelsize]=3 [type]="'text'" [placeholder]="'Instructor code'"
            [maxlength]="2000" 
            [(ngModel)]="aInstructor.code"
            [formControl]="form.controls['instructorCode']"
            [requiredError]="true" 
            [requiredErrorMessage]="'Pls input Instructor code'"
            [minlengthError]="form.controls['instructorCode'].errors?.minlength"
            [minlengthErrorMessage]="'At least 3 characters'" 
            [enabled]="aInstructor.id===0" 
            [rows]="1"
            ngDefaultControl>
          </app-input>

          <!-- First name -->
          <app-input [labelsize]="3" [type]="'text'" [label]="'FirstName'" [maxlength]="20"
            [placeholder]="'First name value'" 
            [(ngModel)]="aInstructor.firstName"
            [formControl]="form.controls['instructorFirstName']" 
            [requiredError]="true"
            [requiredErrorMessage]="'Pls input instructor first name.'"
            [minlengthError]="form.controls['instructorFirstName'].errors?.minlength"
            [minlengthErrorMessage]="'At least 3 characters'" 
            ngDefaultControl></app-input>

          <!-- Last name --> 
          <app-input [labelsize]="3" [type]="'text'" [label]="'Last Name'" [maxlength]="20"
            [placeholder]="'Last name value'" 
            [(ngModel)]="aInstructor.lastName"
            [formControl]="form.controls['instructorLastName']" 
            [requiredError]="true"
            [requiredErrorMessage]="'Pls input instructor last name.'"
            [minlengthError]="form.controls['instructorLastName'].errors?.minlength"
            [minlengthErrorMessage]="'At least 3 characters'" 
            ngDefaultControl></app-input>
          
          <!-- Phone -->
          <app-input [labelsize]="3" [type]="'text'" [label]="'Phone'" [maxlength]="20" [placeholder]="'Phone no.'"
            [(ngModel)]="aInstructor.phone" 
            [formControl]="form.controls['instructorPhone']" 
            ngDefaultControl>
          </app-input>

          <!-- Email -->
          <app-input [labelsize]="3" [type]="'text'" [label]="'Email'" [maxlength]="20" [placeholder]="'Email address'"
            [(ngModel)]="aInstructor.email" 
            [formControl]="form.controls['instructorEmail']" 
            [requiredError]="true"
            [requiredErrorMessage]="'Pls input valid email address.'"
            [emailRequiredError]="form.controls['instructorEmail'].errors?.email"
            [emailRequiredErrorMessage]="'Invalid email'" 
            ngDefaultControl></app-input>

          <!-- Gender -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="aInstructor.gender" [value]=1
                  formControlName="instructorGender"
                  [ngClass]="{'is-invalid': form.controls['instructorGender'].touched}">
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="aInstructor.gender" [value]=0
                  formControlName="instructorGender"
                  [ngClass]="{'is-invalid': form.controls['instructorGender'].touched}">
                <label class="form-check-label" for="inlineRadio2">Female</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Save</button>
        <button class="btn btn-secondary" (click)="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Reactive form without using custom control -->
<!-- <div class="form-group row">
            <label class="col-sm-5 col-form-label required">Instructor code</label>
            <div class="col-sm-7">
              <input type="text" *ngIf="aInstructor.id===0" class="form-control"
                [ngClass]="{'is-invalid': form.controls['instructorCode'].invalid && form.controls['instructorCode'].touched}"
               [(ngModel)]="aInstructor.code"  formControlName="instructorCode">
              <input type="text"  *ngIf="aInstructor.id>0" readonly class="form-control " [(ngModel)]="aInstructor.code"
                formControlName="instructorCode">
              <div *ngIf="form.controls['instructorCode'].errors?.minlength" class="invalid-feedback">
                id is too short
              </div>
              <div *ngIf="form.controls['instructorCode'].errors?.required" class="invalid-feedback">
                please input instructor ID
              </div>
            </div>
          </div> -->

<!-- <div class="form-group row">
            <label class="col-sm-3 col-form-label">FirstName</label>
            <div class="col-sm-9">
              <input type="text" class="form-control "
                [ngClass]="{'is-invalid': form.controls['instructorFirstName'].invalid && form.controls['instructorFirstName'].touched}"
                [(ngModel)]="aInstructor.firstName" 
                formControlName="instructorFirstName">
              <div *ngIf="form.controls['instructorFirstName'].errors?.minlength" class="invalid-feedback">
                first name is too short
              </div>
              <div *ngIf="form.controls['instructorFirstName'].errors?.maxlength"class="invalid-feedback">
                first name is too long [>15]
              </div>
              <div *ngIf="form.controls['instructorFirstName'].errors?.required" class="invalid-feedback">
                please input first name
              </div>
            </div>
          </div> -->
<!-- <div class="form-group row">
            <label class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control {{checkRequired(aInstructor.lastName)}}"
                [ngClass]="{'is-invalid': form.controls['instructorLastName'].invalid && form.controls['instructorLastName'].touched}"
                [(ngModel)]="aInstructor.lastName" formControlName="instructorLastName">
              <div *ngIf="form.controls['instructorLastName'].errors?.minlength" class="invalid-feedback">
                last name is too short
              </div>
              <div *ngIf="form.controls['instructorLastName'].errors?.maxlength" class="invalid-feedback">
                last name cannot too long [>15]
              </div>
              <div *ngIf="form.controls['instructorLastName'].errors?.required" class="invalid-feedback">
                please input last name
              </div>
            </div>
          </div> -->

<!-- <div class="form-group row">
            <label class="col-sm-3 col-form-label">Phone</label>
            <div class="col-sm-9">
              <input type="tel" class="form-control" [(ngModel)]="aInstructor.phone" 
                formControlName="instructorPhone">
            </div>
          </div> -->


<!-- <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="tel" class="form-control" 
                [ngClass]="{'is-invalid': form.controls['instructorEmail'].invalid && form.controls['instructorEmail'].touched}"
                [(ngModel)]="aInstructor.email"  formControlName="instructorEmail">

              <div *ngIf="form.controls['instructorEmail'].errors?.email" class="invalid-feedback">
                Invalid email
              </div>
              <div *ngIf="form.controls['instructorEmail'].errors?.required" class="invalid-feedback">
                Enter email address
              </div>
            </div>
          </div> -->